<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {{#link-to 'home'}}
        Home
      {{/link-to}}
    </li>
    <li class="breadcrumb-item" aria-current="page">Herói</li>
    <li class="breadcrumb-item active" aria-current="page">{{model.name}}</li>
  </ol>
</nav>

<div class="col-sm-12 py-sm-3 pl-sm-5 bd-content">
  <h1 class="bd-title">{{model.name}}</h1>
  {{super-heroes/form model=model}}
</div>
