<div class="col-sm-12 py-sm-3 pl-sm-5 bd-content">
  <h1 class="bd-title">Meus Super-Heróis Favoritos</h1>
  <p class="bd-lead">
    Os melhores dos melhores, os mais incríveis, os bixão memo, os caras,
    <small>na sua opinião.</small>
  </p>
  {{super-heroes/list model=model.favorites}}
</div>
<div class="col-sm-12 py-sm-3 pl-sm-5 bd-content">
  <h3 class="bd-title">Super-Heróis Whatever</h3>
  <p class="bd-lead">
    São super, as vezes são heróis, mas são meio <i>"méh"</i>.
  </p>
  {{super-heroes/list model=model.heroes refresh=(route-action 'refreshModel')}}
</div>
