{{#bs-navbar type="dark" backgroundColor="primary" class="sticky-top" as |navbar|}}
  <div class="navbar-header">
    {{#link-to "home" class="navbar-brand"}}
      <b>HERO</b>BOOK
    {{/link-to}}
  </div>

  {{navbar.content class="mr-auto"}}
  {{#link-to 'hero.new' class="btn btn-success"}}
    Crie um novo super-herói
  {{/link-to}}
{{/bs-navbar}}

<div class="container-fluid">
  {{outlet}}
</div>
